autodoc_pydantic
docutils
elevenlabs # convert text to speech
furo
ipykernel
llama-index
llama-index-llms-anthropic
llama-index-llms-mistralai
llama-index-readers-file
m2r2
myst-nb
myst-parser
openai
pydantic
pypdf
python-dotenv
sphinx_rtd_theme
sphinx-autobuild
sphinx
